{
  "AuthToken": "Bearer 00aa0a00a000aa000000a0000a0000aa",
  "ParserMonitoringNames": {
    "Participant": "ParticipantGoszakup",
    "Unscrupulous": "UnscrupulousGoszakup"
  },
  "DbConnectionCredentials": [
    {
      "Title": "MyDatabase",
      "Address": "192.168.1.1",
      "Port": 1111,
      "Name": "mysql",
      "SearchPath": "schema1",
      "Username": "user",
      "Password": "qwerty"
    }
  ],
  "Parsers": [
    {
      "Name": "Participant",
      "Threads": 10,
      "Url": "v3/subject/all"
    },
    {
      "Name": "Unscrupulous",
      "Threads": 10,
      "Url": "v3/rnu"
    }
  ]
}