{
  "AuthToken": "Bearer 83rv9d36f724vr100489g8873n7953vv",
  "ConnectionStrings":{
    "Production" : "Server = 192.168.1.5; Database = dbname; Port=5432; User ID = admin; Password = passwd; Integrated Security=true; Pooling=true;",
  },
  "ParserMonitoringNames": {
    "Participant": "ParticipantGoszakup",
    "Unscrupulous": "UnscrupulousGoszakup",
  },
  "Parsers": [
    {
      "Name": "Parser1",
      "Threads": 20,
      "Url": "Url1"
    },
    {
      "Name": "Parser2",
      "Threads": 5,
      "Url": "Url2"
    }
  ],
  "Downloaders": [
    {
      "Name": "Downloader1",
      "Threads": 10,
      "Folder": "Folder1"
    },
    {
      "Name": "Downloader2",
      "Threads": 20,
      "Folder": "Folder2"
    }
  ]
}