<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Telegram" />
    </extensions>

    <targets async="true">

        <target xsi:type="ElasticSearch"
                name="elastic"
                uri="http://192.168.1.105:9200/"
                index="parser-goszakup">
            <field name="Message" layout="${message}"/>
            <field name="Logger" layout="${logger}" />
            <field name="Thread" layout="${threadid}" />
        </target>
        
    </targets>
    <targets async="false">
        
        <target name="console_warn" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="Yellow" />
        </target>

        <target name="console_error" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="DarkYellow" />
        </target>

        <target name="console_fatal" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="Red" />
        </target>

        <target name="console_info" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="Green" />
        </target>

        <target name="console_debug" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="DarkCyan" />
        </target>

        <target name="console_trace" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | Thread: ${threadid}">
            <highlight-row condition="true" foregroundColor="White" />
        </target>

        <target name="console_debug" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="Blue" />
        </target>

        <target name="file_warn" xsi:type="File" fileName="${basedir}/logs/warnings_${shortdate}.log"
                layout="${longdate} | Thread: ${threadid} |   ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" />
        </target>

        <target name="file_error" xsi:type="File" fileName="${basedir}/logs/errors_${shortdate}.log"
                layout="${longdate} | Thread: ${threadid} |   ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" />
        </target>

        <target name="file_fatal" xsi:type="File" fileName="${basedir}/logs/errors_${shortdate}.log"
                layout="${longdate} | Thread: ${threadid} |   ${level:uppercase=true} |${logger} | ${message}">
            <highlight-row condition="true" />
        </target>

        <target name="file_info" xsi:type="File" fileName="${basedir}/logs/info_${shortdate}.log"
                layout="${longdate} | Thread: ${threadid} |   ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" />
        </target>

        <target name="file_debug" xsi:type="File" fileName="${basedir}/logs/debug_${shortdate}.log"
                layout="${longdate} | Thread: ${threadid} |   ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" />
        </target>

        <!-- Установите в 'botToken' токен своего бота -->
        <!-- Установите в 'chatId' чат бота с вами-->
        <target name="telegram"
                xsi:type="Telegram"
                layout="${logger} | ${message}"
                botToken="1092758274:AAHXQz0M7GVYWFnwX5bsFFH_nCieD7JrfG0"
                chatId="879443981"
                format="MARKDOWN">
        </target>

        <targets>
            <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
                <target xsi:type="ElasticSearch" 
                        uri="http://192.168.1.105:9200/"
                />
            </target>
        </targets>
    </targets>

    <!-- Можно закомментировать уровень логгинга Trace и немного увеличить скорость работы парсера-->
    <rules>
        <logger name="*" level="Info" writeTo="console_info,file_info,elastic" />
        <logger name="*" level="Error" writeTo="console_error,file_error,elastic" />
        <logger name="*" level="Warn" writeTo="console_warn,file_warn,elastic" />
        <logger name="*" level="Fatal" writeTo="console_fatal,file_fatal,telegram,elastic" />
        <logger name="*" level="Trace" writeTo="console_trace" />
        <!-- <logger name="*" level="Debug" writeTo="console_debug,file_debug" > -->
            <!-- <filters> -->
                <!-- <when condition="equals('${buildConfiguration}','Release')" action="Ignore" /> -->
            <!-- </filters> -->
        <!-- </logger> -->
    </rules>
</nlog>