<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Telegram" />
    </extensions>

    <targets async="false">
        <target name="console_warn" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="Yellow" />
        </target>

        <target name="console_error" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="DarkYellow" />
        </target>

        <target name="console_fatal" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="Red" />
        </target>

        <target name="console_info" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="Green" />
        </target>

        <target name="console_debug" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="DarkCyan" />
        </target>

        <target name="console_trace" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | Thread: ${threadid}">
            <highlight-row condition="true" foregroundColor="White" />
        </target>

        <target name="console_debug" xsi:type="ColoredConsole"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" foregroundColor="Blue" />
        </target>

        <target name="file_warn" xsi:type="File" fileName="${basedir}/logs/warnings_${shortdate}.log"
                layout="${longdate} | Thread: ${threadid} |   ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" />
        </target>

        <target name="file_error" xsi:type="File" fileName="${basedir}/logs/errors_${shortdate}.log"
                layout="${longdate} | Thread: ${threadid} |   ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" />
        </target>

        <target name="file_fatal" xsi:type="File" fileName="${basedir}/logs/errors_${shortdate}.log"
                layout="${longdate} | Thread: ${threadid} |   ${level:uppercase=true} |${logger} | ${message}">
            <highlight-row condition="true" />
        </target>

        <target name="file_info" xsi:type="File" fileName="${basedir}/logs/info_${shortdate}.log"
                layout="${longdate} | Thread: ${threadid} |   ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" />
        </target>

        <target name="file_debug" xsi:type="File" fileName="${basedir}/logs/debug_${shortdate}.log"
                layout="${longdate} | Thread: ${threadid} |   ${level:uppercase=true} | ${logger} | ${message}">
            <highlight-row condition="true" />
        </target>

        <target name="graylog"
                xsi:type="gelf"
                endpoint="udp://192.168.1.47:12502"
                facility="Goszakup Parsers"
                sendLastFormatParameter="true"
        >
            <!-- Optional parameters -->
            <parameter name="longdate" layout="${longdate}"/>
            <parameter name="thread" layout="${threadid}"/>
            <parameter name="stringLevel" layout="${level}"/>
            <parameter name="logger" layout="${logger}"/>
            <parameter name="method" layout="${callsite}"/>
            <parameter name="sourceAddress" layout="${var:sourceAddress}"/>
        </target>
        
        <!-- Установите в 'botToken' токен своего бота -->
        <!-- Установите в 'chatId' чат бота с вами-->
        <target name="telegram"
                xsi:type="Telegram"
                layout="${logger} | ${message}"
                botToken="1092758274:AAHXQz0M7GVYWFnwX5bsFFH_nCieD7JrfG0"
                chatId="879443981"
                format="MARKDOWN">
        </target>
    </targets>

    <!-- Можно закомментировать уровень логгинга Trace и немного увеличить скорость работы парсера-->
    <rules>
        <logger name="*" level="Info" writeTo="console_info,file_info,graylog" />
        <logger name="*" level="Error" writeTo="console_error,file_error,graylog" />
        <logger name="*" level="Warn" writeTo="console_warn,file_warn,graylog" />
        <logger name="*" level="Fatal" writeTo="console_fatal,file_fatal,telegram,graylog" />
        <logger name="*" level="Trace" writeTo="console_trace" />
        <logger name="*" level="Debug" writeTo="console_debug,file_debug" />
    </rules>
</nlog>